In [1]:
print("hello")
print("123" + "5")

hello
1235

In [2]:
a = 345.5
type (a)

float

In [3]:
a = "toyin"
b = 19
###format string methods
print(f"{a} is {b} years")

toyin is 19 years

In [5]:
e = "Bukunmi"
f = 23
###format spring methods
print(f"{e} is {f} years")

Bukunmi is 23 years

In [6]:
x = input("enter name: ")
y = input("enter a number: ")
print(f"{x} is {y} years old")

enter name: john
enter a number: 16
john is 16 years old

In [7]:
a = float(input("enter number1: "))
b = float(input("enter number 2: "))
print(f" the sum of a and b is {a+b}")

enter number1: 20
enter number 2: 15
 the sum of a and b is 35.0

In [8]:
name = input("enter your name: ")
year_birth = int(input("enter your year of birth: "))
print(f"{name} is {2022-year_birth} years old")

enter your name: shade
enter your year of birth: 1997
shade is 25 years old

In [11]:
get_me = input ('enter message: ').lower()
if get_me =="tomatoes":
    print("buy")
elif get_me =="lemon" :
    print("buy")
elif get_me =="tomatoes":
    print("buy")
else:
    print("coundnt find any")

enter message: Lemon
buy

In [12]:
c = 5/9 * (f + 32)
f = 9/5 * (c - 32)

In [14]:
temp_value = float(input("enter temperature input value: "))
unit = input("enter unit f/c: ").lower()
if unit == "f":
    celcuis = round(5/9 * (temp_value + 32), 3)
    prin(f"the temperature value from {temp_value}{unit} is {celcuis}celcuis")
                         
elif unit =="c":
     fahr = round(9/5 * (temp_value - 32), 3)
     print(f"the temperature value from {temp_value}{unit} is {fahr}fahrenheit")
                    
else:
     print("input not understood!!!")

enter temperature input value: 22
enter unit f/c: c
the temperature value from 22.0c is -18.0fahrenheit

In [16]:
value = "james"
#a.index("m")

In [17]:
value = "cynthia"
sub_string = input('enter sub string values:')
k = value.index(sub_string)
right_values =value[k+1: ]
print (right_values)

enter sub string values:h
ia

In [18]:
a = "cool"
a[1:]

'ool'

In [19]:
value = "cynthia"
sub_string = input('enter sub string values: ')
k = value.index(sub_string)
left_values =value[:k]
print (left_values)

enter sub string values: h
cynt

In [5]:
### assignment

n = "tobechukwuigia"
n.index("u")

6

In [6]:
n = "tobechukwu"
n.index("u", 7)

9

In [7]:
#### Day 2

h = "jakeson/abiba"
h[0]

'j'

In [8]:
k = ["tope adamu", "kate milla", "femi ore"]
k[0]

'tope adamu'

In [9]:
k[0].split()

['tope', 'adamu']

In [10]:
h.split("/")

['jakeson', 'abiba']

In [18]:
phone_number = "+236-81-765-91915"
b = phone_number.split("-")
d = "#".join(b)
print(d)

+236#81#765#91915

In [22]:
###split method is a string,it helps to split two(2) strings together
###join method is an array or list method  
### you can use split method only for strings
###split is a method that is inbuilt.
###forloops os a way of getting values out of their rays.
###iteration bringing out from a list (identifying) to bring values out.

In [23]:
for i in range(0, 10+1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [24]:
a = [10 , 15, 21, 30, 6]
for i in a:
    print(i)

10
15
21
30
6

In [25]:
k

['tope adamu', 'kate milla', 'femi ore']

In [27]:
k[0].split()

['tope', 'adamu']

In [28]:
for n in k:
    print(n)

tope adamu
kate milla
femi ore

In [29]:
type(k)

list

In [30]:
first_name = []
second_name = []
for n in k:
    b = n.split()[0][0].upper() + n.split()[0][1:]
    d = n.split()[1][0].upper() + n.split()[1][1:]
    first_name.append(b)
    second_name.append(d)
print(first_name)
print(second_name)

['Tope', 'Kate', 'Femi']
['Adamu', 'Milla', 'Ore']

In [31]:
t = [ "lem", "fin", "tan" ]
array_list = [1, 5, 10]
array_list.append(t)
print(array_list)

[1, 5, 10, ['lem', 'fin', 'tan']]

In [32]:
t = ["lem", "fin", "tan" ]
array_list = [1, 5, 10]
for i in t:
    array_list.append(i)
print(array_list)

[1, 5, 10, 'lem', 'fin', 'tan']

In [33]:
# for d in h:
#print (d)

In [34]:
array_number = [10, 15, 21, 39, 8]
add_me = 0

for i in array_number:
    add_me = i + add_me
print(add_me)

93

In [37]:
a = False
print(type(a))

<class 'bool'>

In [42]:
list_array = [True, False, "meka", "owen", 19.5, 88, 4.12, 22]
for i in list_array:
    if type(i) == str:
        print(i)

meka
owen

In [43]:
list_array =[True, False, "meka", "owen", 19.5, 88, 4.12, 22]
for i in list_array:
    if type(i) ==int:
        print(i)

88
22

In [44]:
list_array = [True, False, "meka", "owen", 19.5, 88, 4.12, 22]
for i in list_array:
    if type(i) ==bool:
        print(i)

True
False

In [46]:
list_array = [True, False, "meka", "owen", 19.5, 88, 4.12, 22]
for i in list_array:
    if type(i) ==float:
        print(i)

19.5
4.12

In [ ]:
a = [i for in range(1,39)]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36,37, 38]

In [6]:
### to get even numbers

a = [i for i in range(1, 39)]
for num in a:
    if num % 2 == 0:
        print(num, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38

In [9]:
### to get odd numbers

a =[i for i in range(1, 39)]
for num in a:
    if num % 2 != 0:
        print(num, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37

In [10]:
array = []
for i in a:
    if i%2==0:
        array.append(i)
print(array)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [11]:
array = [i for i in a if i%2==0]
print(array)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [21]:
a = ["james", "cadi", "benneth", "kola"]
b = ["tobe", "mathew", "fila", "jack"]
diff_arr = []
if len(a) == len(b):
    for i in range(0, len(a)):
        val = len(a[i]) - len(b[i])
        diff_arr.append(val)
    print(diff_arr)
else:
    print("index not same")

[1, -2, 3, 0]

In [20]:
list_array = ["10cm", "20cm", "30m", "15m"]
list_array2 = ["40m", "20m", "25cm", "80cm"]
array_cm = []
for i in list_array2:
    split_i = []
    for b in i:
        split_i.append(b)
    ###print(split_i)
    a = "".join(split_i[2:])
    ###print(a)
    if a == "cm":
        array_cm.append(i)
print(array_cm)

['25cm', '80cm']

In [26]:
lst_val2 = []
for i in list_array2:
    split_i = []
    for b in i:
        split_i.append(b)
    if "c" in split_i:
        a = "".join(split_i)[:-2]
        lst_val2.append(a)
print(lst_val2)

['25', '80']

In [27]:
# for i in range(0, 6):
#     print("thank you!!!")

In [28]:
a = ["string"]
len(a)

1